@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap {
  outline: none;
  min-height: 200px;
}

.tiptap p {
  margin: 0.5em 0;
}

.tiptap h1 {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.5em 0;
}

.tiptap h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.tiptap h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.tiptap li {
  margin: 0.25em 0;
}

.tiptap strong {
  font-weight: bold;
}

.tiptap em {
  font-style: italic;
}

.tiptap u {
  text-decoration: underline;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
